${H}"Atmel AVR USBtinyISP Programmer rules"
"SUBSYSTEMS==\\\"usb\\\", ATTRS{idVendor}==\\\"1781\\\", ATTRS{idProduct}==\\\"0c9f\\\", GROUP=\\\"users\\\", MODE=\\\"0666\\\""
"SUBSYSTEMS==\\\"usb\\\", ATTRS{idVendor}==\\\"16c0\\\", ATTRS{idProduct}==\\\"0479\\\", GROUP=\\\"users\\\", MODE=\\\"0666\\\""
